/* General Layout */
*{
    margin: 0%;
    box-sizing: border-box;
    
}
.homepage{
    display: flex;
    background-color: lightgrey;
    flex-direction: column;
    height: max-content;
}


/* Header */
header{
    height: 60vh;
    background-color: grey;
}

.menu-bar{
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 80%;
    margin: auto;
    background-color: aqua;
    align-items: center;
    justify-content: space-evenly;
}

.menu-items{
    display: flex;
}

.menu-item{
    height: 5vh;
    width: 7vW;
    background-color: aliceblue;
    border: solid black 1px;
}

.title{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 80%;
    margin: auto;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.title-text{
    width: 60%;
    height: 40%;
    background-color: bisque;
}

.download-buttons{
    height: 20%;
    width: 60%;
    background-color: beige;
}

/* / Header */
section{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;

}

section:nth-child(3){
    background-color: greenyellow;
    flex-direction: row-reverse;
}

section:nth-child(5){
    height: 140vh;
    flex-direction: column;
    background-color: green;
    align-items: center;

}
.presentation-image{
    height: 40%;
    width: 40%;
    background-color: beige;
}

.image-description{
   height: 40%;
   width: 40%;
   background-color: bisque;
}
.download-button-2{
    height: 40%;
    width: 40%;
    background-color: pink;
}

/* Footer */
footer{
    height: 70vh;
    background-color: grey;
    padding: 5% 10% 5% 10%;
}

.big-container{
    height: 80%;
    width: 100%;
    display: flex;

}

.resources-lists{
    height: 100%;
    width: 20%;
    background-color: aliceblue;
    border: solid black 1px;
}


.small-container{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.final-logo{
    height: 100%;
    width: 20%;
    background-color: aliceblue;
    border: solid black 1px;
}

.subscribe{
    height: 100%;
    width: 20%;
    background-color: aliceblue;
    border: solid black 1px;
}








